{{! make the _globals object in course.json available to this template}}
{{import_globals}}
{{#if image}}
<div class="enhancedQuestion-popup-image">
	<img src="{{image}}" {{#if alt}}aria-label="{{alt}}"{{else}}aria-hidden="true"{{/if}}/>
</div>
{{/if}}
{{#if feedbackTitle}}
<div id="notify-heading" class="notify-popup-title">
	<div class="notify-popup-title-inner h5" role="heading" aria-level="1">
		{{{compile feedbackTitle}}}
	</div>
</div>
{{/if}}
{{#if feedbackMessage}}
<div class="notify-popup-body">
	<div class="notify-popup-body-inner">{{{compile feedbackMessage}}}</div>
</div>
{{/if}}
<div class="notify-popup-buttons">
	<button class="notify-popup-button enhancedQuestion-close-button" aria-label="{{#if _enhancedQuestion.close}}{{_enhancedQuestion.close}}{{else}}{{_globals._accessibility._ariaLabels.closePopup}}{{/if}}">
		{{#if _enhancedQuestion.close}}{{{_enhancedQuestion.close}}}{{else}}{{{_globals._accessibility._ariaLabels.closePopup}}}{{/if}}
  </button>
</div>
{{a11y_wrap_focus}}
